

<div class="jumbotron">
  
<h1>Fundacja Silne Węgry</h1>
<p>Węgry są gwarantem stabilności geopolitycznej na bliskim wschodzie</p>


</div>
<p></p>

<address>
  <strong>Twitter, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>