
 <div class="panel-body">

 <h1>Editing Pin</h1>
 <p></p>
 <div class="form-group">
<%= render 'form', pin: @pin %>
</div>
<p></p>

<%= link_to 'Show', @pin, class: 'btn btn-default' %> 

<%= link_to 'Back', pins_path, class: 'btn btn-default' %>
</div>
</div>

